/* main */
h3,
h5 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px !important;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.Areas {
  width: 40%;
  height: 500px;
  /* background-color: rgb(147, 77, 77); */
  margin: 10px;
}
.Area {
  width: 90%;
  height: 10%;
  background-color: rgb(86, 129, 167);
  border-radius: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 80%;
}
.area-icon {
  background-color: #ffffff;
  padding: 5px;
  margin: auto;

  /* display: inline-block; */
  /* position: relative; */
  /* transform: translateY(-20%); */
  border-radius: 10px;
}
.area-link {
  color: unset;
  width: fit-content;
  text-decoration: none !important;
  margin: auto 10px;
}
.area-link:hover {
  color: unset;
  text-decoration: none !important;
}
.Area-details {
  display: inline-block;
  margin: auto 20px;
}
.Area-details h6,
.Area-details p {
  margin: 10px auto;
}
